@media (max-width:1300px){
    #sobre{
        display: block;
        flex-direction: column-reverse;
        text-align: center;
    }
    #formacao{
        display: block;
    }
    .linguagens{
        width: unset;
    }
    img{
        max-height: 400px;
    }
    .width{
        width: unset;
    }
    body{
        display: grid;
    }
    .modal_container{
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
}

@media (max-width:1000px){
    .linguagens{
        margin: 20px;
    }
}

@media (max-width:800px){
    .icones{
        display: block;
        top: 100px;
        left: 25px;
        text-align: center;
        flex-direction: row;
    }
    .flexbox-column{
        flex-direction: column;
    }
    .tamanho{
        min-width: 400px;
    }
    .img-small{
        min-width: 100px;
        min-height: 100px;
    }

}

@media (max-width:500px){
    .text{
        width: fit-content;
    }
}
