*{
    padding: 0;
    margin: 0;
    font-family: 'Clear Sans', sans-serif;
    background-color: #F8F8F8;
    color: black;
}

@font-face{
    font-family: 'Space Mono';
    src: url(../fonts/SpaceMono-Regular.ttf);
    src: url(../fonts/SpaceMono-Bold.ttf.ttf);

    font-family: 'Clear Sans';
    src: url(../fonts/ClearSans-Regular.ttf);
}

a{
    text-decoration: none;
}

header{
    display: grid;
}

.space{
    font-family: 'Space Mono', sans-serif;
}

span{
    color: #57478f;
    margin: 20px;
}

.roxo{
    color: #57478f;
}

.icones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 60px;
    top: 220px;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    display: inline-block;
}

li, h2{
    margin: 20px;
    display: inline-block;
}

li{
    color: #8A8A8A;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px;
}

h1{
    font-size: 70px;
    margin: 40px;
    text-align: center;
}

p{
    font-size: 16px;
    color: #8A8A8A;
    text-align: center;
    margin: 20px;
}

.contato{
    border: solid, #57478f;
    background-color: #57478f;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
}

section{
    display: flex;
    margin: 30px;
    justify-content: space-evenly;
}

.circle{
    width: 40px;
    height: 40px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 50px;
    margin-right: 20px;
}

.circle-small{
    min-width: 15px;
    min-height: 15px;
    border: solid 3px #57478f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 5px;
}

.none{
    margin: 0;
    padding-left: 0;
}

.blacl{
    color: black;
}

.text-start{
    text-align: start;
}

.text{
    margin: 20px;
}

.flex-start{
    justify-content: flex-start;
    align-items: baseline;
    margin: 5px;
}

.align-center{
    align-items: center;
    margin: 20px;
    margin-left: 80px;
}

img{
    margin: 40px;
    border-radius: 20px;
}

.img-small{
    width: 100px;
    height: 100px;
}

.fundo-cinza{
    background-color: #EBEBEB;
}

.areas{
    background-color: #EBEBEB;
    margin: 0;
    padding: 65px;
    display: block;
}

.text-center{
    text-align: center;
}

.bloquinho{
    min-width: 200px;
    height: 250px;
    border-radius: 5px;
    box-shadow: -10px 10px 10px rgb(170, 170, 170);
    text-align: center;
    margin: 22px;
}

.linha{
    display: block;
    background-color: #57478f;
    border: solid;
    border-radius: 0 0 0 20px;
    margin-left: 50%;
}

h4{
    font-size: 24px;
}

.bloco1{
    background-color: #FFEF61;
    border: solid #FFEF61;
}

.bloco2{
    background-color: #6EFFC5;
    border: solid #6EFFC5;

}

.bloco3{
    background-color: #FFA694;
    border: solid #FFA694;

}

.space-evenly{
    justify-content: space-evenly;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 200px;
}

.circle-medium, .contorno{
    width: 80px;
    height: 80px;
    box-shadow: -3px -3px 5px #ffffff,
    3px 3px 5px #a8a8a8;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.circle-medium:active{
    box-shadow: inset -3px -3px 5px #ffffff, inset 3px 3px 5px #a8a8a8;
    text-align: -webkit-center;
}

.circle-medium:active > .contorno{
    min-width: 75px;
    height: 75px;
    box-shadow: inset -3px -3px 5px #ffffff, inset 3px 3px 5px #a8a8a8;

}

.circle-medium:active > .contorno > .icons-medium{
    font-size: 45px;
}

.circle-medium:active > .contorno > .ux{
    font-size: 15px;
}

.icons-medium{
    font-size: 50px;
}

.margin-left{
    margin-left: 40px;
}

.linguagens{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
    width: 200px;
    margin: 30px;
    margin-right: 150px;
}

.fundo-roxo{
    background-color: #57478f;
    color: white;
}

.padding{
    padding: 20px;
}

.tamanho{
    display: block;
    width: 50%;
    border-radius: 5px 5px 20px 5px;
    padding: 20px;
}

.contato2{
    border: solid, white;
    background-color: white;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: #57478f;
}

.ultima{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ux{
    font-size: 16px;
}

td{
    display: block;
}

tr{
    padding: 20px;
}

tbody{

    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;    
    font-size: 14px;
    max-height: 30vh;
    overflow-y: auto;
    margin-top: 30px;    
    padding: 20px;
}

.width{
    width: 50%;
}