*{
    margin: 0;
    padding: 0;
    font-family: 'Courier', sans-serif;
}

img{
    height: 90px;
    width: 70px;
    margin-bottom: 5px;
}

img#front{
    height: 70px;
    width: 50px;
    margin-bottom: 5px;
}

img#csharp{
    width: 140px;
    height: 140px;
}

img#asp{
    width: 70px;
    height: 70px;
}

img#asp1{
    width: 90px;
    height: 90px;
}

img#mvc{
    width: 150px;
    height: 100px;
}

img#ps{
    width: 50px;
    height: 50px;
}

img#xd{
    width: 50px;
    height: 50px;
}

img#vsc{
    width: 50px;
    height: 50px;
}

img#sublime{
    width: 90px;
    height: 90px;
}

img#sublime1{
    width: 50px;
    height: 50px;
}


a:hover{
    background: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 50%;
}

nav{
    background-color: black;
    box-shadow: 5px 5px 5px grey;
}


ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 500px;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 50px;
}

h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 3px grey;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.end{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: start;
}

main{
    margin: 20px;
}

p{
    font-size: 20px;
}

.end{
    font-size: 10px;
}

#texto{
    width: unset;
}

div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



@media (max-width:950px){
    #group{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:710px){
    h1{
        font-size: 30px;
    }
}

@media (max-width:600px){
    #container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    }

    li{
        padding-left: 10px;
        padding-right: 10px;
    }

    h1{
        font-size: 24px;
        margin-left: 5px;
    }

    ul{
        width: auto;
    }

    #back{
        display: flex;
        flex-direction: row;
        margin-left: 25px;
    }

    #front{
        margin-right: 10px;
        margin-left: 10px;
    }
    #pj{
        display: flex;
        flex-direction: column;
    }
}
